In [1]:
import numpy as np
import pandas as pd

#Task - 1
##Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [2]:
data = np.random.randn(4, 4)
df = pd.DataFrame(data)

In [3]:
df

          0         1         2         3
0  0.378063  2.136942  1.391454  0.063516
1  1.020554 -0.572065  0.230295 -0.679615
2  1.079857  0.178490  0.950331  0.231788
3 -0.058921 -0.213399  0.220794 -0.067073

#Task-2
##Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Randome value 4'

In [4]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [5]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.378063        2.136942        1.391454        0.063516
1        1.020554       -0.572065        0.230295       -0.679615
2        1.079857        0.178490        0.950331        0.231788
3       -0.058921       -0.213399        0.220794       -0.067073

#Task-3
##Find the descriptive statistics of the 'df' dataframe.

In [6]:
descriptive_stats = df.describe()

In [7]:
descriptive_stats

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.604888        0.382492        0.698219       -0.112846
std          0.544814        1.209129        0.574753        0.397156
min         -0.058921       -0.572065        0.220794       -0.679615
25%          0.268817       -0.303065        0.227920       -0.220209
50%          0.699308       -0.017454        0.590313       -0.001779
75%          1.035379        0.668103        1.060612        0.105584
max          1.079857        2.136942        1.391454        0.231788

#Task - 4
##Check for the null values in 'df and find the data type of the columns.

In [8]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [9]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

#Task 5
##Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [11]:
df['Random value 2']

0    2.136942
1   -0.572065
2    0.178490
3   -0.213399
Name: Random value 2, dtype: float64

In [12]:
df['Random value 3']

0    1.391454
1    0.230295
2    0.950331
3    0.220794
Name: Random value 3, dtype: float64

In [13]:
df.iloc[:,1]

0    2.136942
1   -0.572065
2    0.178490
3   -0.213399
Name: Random value 2, dtype: float64

In [14]:
df.iloc[:,2]

0    1.391454
1    0.230295
2    0.950331
3    0.220794
Name: Random value 3, dtype: float64